<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_ns" default="robot"/>

  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" ns="$(arg robot_ns)" clear_params="true">
    <param name="capability_group" value="planner"/>

    <param name="frame_id" type="string" value="world"/>
    <param name="resolution" value="0.1"/>
    <param name="base_frame_id" value="$(arg robot_ns)/base_link"/>
    <param name="sensor_model/max_range" value="1.5"/>

    <param name="pointcloud_min" value="0.0"/>
    <param name="pointcloud_max" value="2.5"/>

    <param name="filter_ground" type="bool" value="true"/>

    <remap from="cloud_in" to="/realsense/depth/points2"/>
  </node>
</launch>